@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Montserrat' , sans-serif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.navbar{
  background-color: rgb(106, 4, 202) !important;
}

.nav-link{
  color: rgb(235, 239, 243) !important;
}

.navbar-brand{
  color: white !important;
}

.navbar-nav{
  margin-left: auto;
}

.nav-item{
  padding-right: 20px;
}
 .smalling{
  height: 200px;
  width: 100% !important;
  border-radius: 5px !important;
  object-fit: cover;
 }

h1{
  font-size: 30px !important;
}

.btn{
  background-color: rgb(106, 4, 202) !important;
  color: white;
  box-shadow: none !important;
}

.bs{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  margin-top: 20px !important;
  padding: 20px !important ;
  border-radius: 5px !important;
}

.bigimg{
  height: 400px;
  border-radius: 5px !important;
  width: 100%;
  object-fit: cover;
}

input,select{
  box-shadow: none !important;
  margin-top: 10px;
  border: 1px solid rgb(106, 4, 202) !important;
  width: 100% !important;
  border-radius: 3px !important;
  height: 35px !important;
}

h2{
  font-size: 30px !important;
  padding: 10px;
  text-align: center;
  font-weight: bold !important;
}

.dropdown-toggle{
  border: 0px solid white !important;

}

p{
  font-size: 20px !important;
}
